<div class="rating">
  <label class="star_label">
    <input type="radio" name="{{ widget.name }}" value="1" />
    <span class="icon">★</span>
  </label>
  <label class="star_label">
    <input type="radio" name="{{ widget.name }}" value="2" />
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
  <label class="star_label">
    <input type="radio" name="{{ widget.name }}" value="3" />
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>   
  </label>
  <label class="star_label">
    <input type="radio" name="{{ widget.name }}" value="4" />
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
  <label class="star_label">
    <input type="radio" name="{{ widget.name }}" value="5" />
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
</div>