<div class="rating">
  <label class="star_label">
    <input type="radio" name="{{ widget.name }}" value="1" required/>
    <span class="icon">★</span>
  </label>
  <label class="star_label">
    <input type="radio" name="{{ widget.name }}" value="2" required/>
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
  <label class="star_label">
    <input type="radio" name="{{ widget.name }}" value="3" required/>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>   
  </label>
  <label class="star_label">
    <input type="radio" name="{{ widget.name }}" value="4" required/>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
  <label class="star_label">
    <input type="radio" name="{{ widget.name }}" value="5" required/>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
</div>