{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<div class='add_buttons'>
    <a href="{% url 'add_ticket' %}">Demander une critique</a>
    <a href="{% url 'add_review' %}">Créer une critique</a>
</div>
<div class='container tickets'>
    {% for post in posts %}
        {% if post|is_instance:"blog.Review" %}
            {% include 'blog/review_template.html' %}
        {% elif post|is_instance:"blog.Ticket" %}
            {% include 'blog/ticket_template.html' %}
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}