{% extends 'base.html' %}

{% block content %}
<div class="container suscribe">
    <form method="post">
        <h3>Suivre d'autres utilisateurs</h3>
        <input type="text" name="username" id="username" placeholder="Nom d'utilisateur">
        <button>Envoyer</button>
    </form>
    <h2>Abonnements</h2>
        <table>
        {% for followed_user in list_followed_users %}
            <tr>
                <td>{{ followed_user.followed_user }}</td>
                <td><a href="{% url 'unsubscribe' followed_user.id %}">Se désabonner</a></td>
            </tr>
        {% endfor %}
        </table>
    <h2>Abonnés</h2>
        <table>
            {% for user_following_you in list_users_following_you %}
                <tr>
                    <td>{{ user_following_you.user }}</td>
                </tr>
            {% endfor %}
        </table>
</div>
{% endblock content %}