{% load custom_filters %}
<div class='ticket'>
    {% if not review %}
    <span>{% firstof post.time_created post.ticket.time_created %}</span>
    {% endif %}
    {% if post.user == user and not post.ticket.user %}
        <div>Vous avez demandé une critique</div>
    {% else %}
        <div>{% firstof post.ticket.user post.user %} a demandé une critique</div>
    {% endif %}
    <div>{% firstof post.title post.ticket.title %}</div>
    <div>{% firstof post.description post.ticket.description %}</div>
    <img src={% firstof post.image.url post.ticket.image.url %}/>
    {% if post.user != user and user|can_review:post %}
        <a class='button'>Créer une critique</a>
    {% elif allow_modification %}
    <span>
        <a href="{% url 'update_ticket' post.id %}" class='button'>Modifier</a>
        <a href="{% url 'del_ticket' post.id %}" class='button'>Supprimer</a>
    </span>
    {% endif %}
</div>