<div class='ticket'>
    <span>{{ ticket.time_created }}</span>
    {% if ticket.user == user %}
        <div>Vous avez demandé une critique</div>
    {% else %}
        <div>{{ ticket.user }} a demandé une critique</div>
    {% endif %}
    <div>{{ ticket.title }}</div>
    <div>{{ ticket.description }}</div>
    <img src={{ ticket.image.url }}/>
    {% if ticket.user != user %}
        <button>Créer une critique</button>
    {% elif allow_modification %}
    <span>
        <a href="{% url 'update_ticket' ticket.id %}" class='button'>Modifier</a>
        <a href="{% url 'del_ticket' ticket.id %}" class='button'>Supprimer</a>
    </span>
    {% endif %}
</div>