body {
    font-family: "SF Pro Text", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(55, 55, 55);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(93, 187, 223);
    height: 70px;
    align-items: center;
    overflow: hidden;
}

nav div:nth-child(2) {
    text-align: center;
}

nav div:nth-child(3) {
    display: flex;
    justify-content: space-around;
}

nav div:nth-child(2) a {
    text-decoration: none;
    color: inherit;
}

nav div:nth-child(3) a {
    font-size: 14px;
    color: inherit;
    text-decoration: none;
}

section {
    display: grid;
    justify-items: center;
}

input {
    padding: 10px 0;
    margin: 10px 0;
    border: 2px solid rgb(55, 55, 55);
    width: 20%;
    min-width: 300px;
    text-align: center;
}

input::placeholder {
    color: rgb(55, 55, 55);
    text-align: center;
    font-size: 16px;
}

.container {
    padding-top: 40px;
    width: 100%;
}

.container, #connection {
    display: block;
    text-align: center;
}

.container h2 {
    text-align: center;
}

.container div {
    text-align: center;
}

.container_home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.container_home form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subscribe, #connection {
    display: block;
}

#subscribe > p, #connection > p {
    font-size: 24px;
    width: inherit;
}

#connection form {
    display: block;
}

.container button, #subscribe a, .add_ticket a, .add_buttons a, .button, #id_image::file-selector-button {
    text-decoration: none;
    color: rgb(55, 55, 55);
    font-size: medium;
    font-style: normal;
    background-color: white;
    padding: 10px;
    border: 2px rgb(55, 55, 55) solid;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
}

#connection input {
    width: 50%;
}

.errorList {
    list-style-type: none;
    color: red;
}

form .errorList {
    display: none;
}

.add_ticket, .add_review {
    display: grid;
    padding-top: 20px;
    width: 50%;
}

.add_ticket h2, .add_review h2 {
    font-weight: normal;
}

.add_ticket div:not(.clear_image), .add_review div {
    display: grid;
    grid-template-columns: 1fr;
}

.add_ticket div label, .add_review div label:not(.star_label) {
    text-align: left;
    margin: 30px 0 10px 0;
}

.add_ticket div:nth-child(1) label {
    margin-top: 0;
}

#id_title, #id_headline, #id_headline, #id_body {
    width: auto;
    border: 1px rgb(55, 55, 55) solid;
    margin: 0;
}

.add_ticket form {
    display: grid;
}

#id_title, #id_headline {
    text-align: start;
    padding-left: 10px;
}

.add_ticket {
    padding-top: 5px;
    padding-bottom: 5px;
}

#id_description, #id_body {
    padding: 10px;
}

.add_ticket button {
    justify-self: right;
    width: fit-content;
    margin-top: 20px;
    padding: 10px 30px;
}

.add_buttons {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.add_buttons a {
    margin-top: 40px;
    width: fit-content;
}

#id_image {
    width: fit-content;
    border: none;
}

.add_ticket div label:nth-child(2) {
    margin: 0;
}

.update_ticket form div:nth-child(4) {
    justify-items: left;
    row-gap: 10px;
}

.tickets {
    display: grid;
    width: 50%;
    min-width: 600px;
}

.ticket, .review {
    display: grid;
    row-gap: 20px;
    border: 2px solid rgb(55, 55, 55);
    width: 80%;
    margin-bottom: 40px;
    padding: 10px 0;
    justify-self: center;
}

.button_modification, .ticket a, .review a, .ticket span, .review span:not(.star_rating span){
    justify-self: right;
    margin-right: 20px;
}

.button_modification {
    margin-bottom: 10px;
}

.ticket div:not(.button_modification), .review div:not(.ticket):not(.button_modification) {
    justify-self: left;
    margin-left: 20px;
    font-size: 20px;
}

.ticket img {
    justify-self: center;
    width: 80%;
}

.suscribe {
    width: 40%;
    min-width: 400px;
}

.suscribe input {
    width: 40%;
}

.suscribe table, .suscribe th, .suscribe td {
    border-collapse: collapse;
    border: 1px solid rgb(55, 55, 55);
}

.suscribe table {
    width: 100%;
}

.suscribe table td:nth-child(1) {
    text-align: center;
    padding: 4px 0;
}

.suscribe table td:nth-child(2) {
    text-align: center;
    width: 20%;
    min-width: 120px;
}

.suscribe table a {
    color: rgb(55, 55, 55);
    text-decoration: none;
}

.ticket_in, .review_in {
    border: 2px solid rgb(55, 55, 55);
    padding: 10px;
}

.ticket_in span, .review_in span {
    font-size: 18px;
}

.review_in {
    margin: 20px 0;
}

.rating {
    position: relative;
    line-height: 1px;
}

.star_label {
    position: absolute;
    top: 0;
    height: 100%;
    cursor: pointer;
    margin-top: 10px;
}

.star_label:nth-child(1) {
    z-index: 5;
}

.star_label:nth-child(2) {
    z-index: 4;
}

.star_label:nth-child(3) {
    z-index: 3;
}

.star_label:nth-child(4) {
    z-index: 2;
}

.star_label:nth-child(5) {
    z-index: 1;
}

.star_label input {
    position: absolute;
    top: 0;
    opacity: 0;
}

.star_label .icon {
    color: transparent;
}

.star_label:last-child .icon, .star_rating .icon {
    color: rgb(55, 55, 55);
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon,
.star_rating .blue {
    color: rgb(47, 119, 148);
}

.star_label input:focus:not(:checked) ~ .icon:last-child {
    color: rgb(55, 55, 55);
    text-shadow: 0 0 5px rgb(47, 119, 148);
}

.review .ticket {
    margin-bottom: 0;
    margin-top: 10px;
    width: 96%;
}

.review {
    margin-bottom: 40px;
}

.clear_image {
    display: flex;
    align-content: center;
}

.clear_image input {
    margin: 0 20px;
    min-width: initial;
    width: auto;
}