body {
    font-family: "SF Pro Text", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(55, 55, 55);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(93, 187, 223);
    height: 70px;
    align-items: center;
    overflow: hidden;
}

nav div:nth-child(2) {
    text-align: center;
}

nav div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

nav div:nth-child(2) a {
    text-decoration: none;
    color: inherit;
}

nav div:nth-child(3) a {
    font-size: 14px;
    color: inherit;
    text-decoration: none;
    padding: 27px;
}

nav div:nth-child(3) a:hover {
    background-color: rgb(180, 229, 242);
}

section {
    display: grid;
    justify-items: center;
}

input {
    padding: 10px 0;
    margin: 10px 0;
    border: 2px solid black;
    width: 20%;
    min-width: 200px;
    text-align: center;
}

input::placeholder {
    color: black;
    text-align: center;
    font-size: 16px;
}

.container {
    padding-top: 50px;
    width: 100%;
}

.container, #connection {
    display: block;
    text-align: center;
}

.container h2 {
    text-align: center;
}

.container div {
    text-align: center;
}

.container_home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.container_home form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subscribe, #connection {
    display: block;
}

#subscribe > p, #connection > p {
    font-size: 24px;
    width: inherit;
}

#connection form {
    display: block;
}

.container button, #subscribe a, .add_ticket a, .add_buttons a, .button, #id_image::file-selector-button {
    text-decoration: none;
    color: black;
    font-size: medium;
    font-style: normal;
    background-color: white;
    padding: 10px;
    border: 2px black solid;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
}

#connection input {
    width: 50%;
}

.errorList {
    list-style-type: none;
    color: red;
}

form .errorList {
    display: none;
}

.add_ticket {
    display: grid;
    padding-top: 20px;
    width: 50%;
}

.add_ticket h2 {
    font-weight: normal;
}

.add_ticket div {
    display: grid;
    grid-template-columns: 1fr;
}

.add_ticket div label {
    text-align: left;
    margin: 30px 0 10px 0;
}

.add_ticket div:nth-child(1) label {
    margin-top: 0;
}

.add_ticket div input, .add_ticket div textarea {
    width: auto;
    border: 1px black solid;
    margin: 0;
}

.add_ticket form {
    display: grid;
}

.add_ticket #id_title, .add_ticket #id_description {
    text-align: start;
    padding-left: 10px;
}

.add_ticket {
    padding-top: 5px;
    padding-bottom: 5px;
}

#id_description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.add_ticket button {
    justify-self: right;
    width: fit-content;
    margin-top: 20px;
    padding: 10px 30px;
}

.add_buttons {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.add_buttons a {
    margin-top: 40px;
    width: fit-content;
}

#id_image {
    width: fit-content;
    border: none;
}

.add_ticket div label:nth-child(2) {
    margin: 0;
}

.update_ticket form div:nth-child(4) {
    justify-items: left;
    row-gap: 10px;
}

.tickets {
    display: grid;
    width: 50%;
    min-width: 600px;
}

.ticket {
    display: grid;
    row-gap: 20px;
    border: 2px solid rgb(55, 55, 55);
    width: 60%;
    margin-bottom: 40px;
    padding: 10px 0;
    justify-self: center;
}

.ticket span, .ticket button {
    justify-self: right;
    margin-right: 20px;
}

.ticket span:last-child {
    margin-bottom: 10px;
}

.ticket div {
    justify-self: left;
    margin-left: 20px;
    font-size: 20px;
}

.ticket img {
    justify-self: center;
}

/* #image-clear_id {
    display: none;
}

#image-clear_id::before {
    width: 10px;
    height: 10px;
    background-color: brown;
}

.update_ticket label[for=image-clear_id] {
    margin: 0;
} */