{% load static %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" >
        <title>LITrevu</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body>
        <nav>
            <div></div>
            <div><a href="{% url 'home' %}">LITReview</a></div>
            <div>
                {% if user.is_authenticated %}
                    <a href="">Flux</a>
                    <a href="">Posts</a>
                    <a href="">Abonnements</a>
                    <a href="{% url 'logout' %}">Se déconnecter</a>
                {% endif %}
            </div>
        </nav>
        <section>
            {% block content %}{% endblock content %}
        </section>
    </body>
</html>